<header class="header" ng-include="'/app/home/partials/header.html'"></header>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas" ng-include="'/app/home/partials/menu.html'"></aside>
    <aside class="right-side">
       <section class="content-header">
            <h1>Quản lý mã QR Code</h1>
            <ol class="breadcrumb">
                <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">QR Code</li>
            </ol>
        </section>
        <section class="content">		
			<div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-bullhorn"></i>
                    <h3 class="box-title">Mã QR Code</h3>
                </div>
                <div class="box-body">
					<div>
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li class="active"><a showtab="" href="#listvanban" data-toggle="tab"><i class="fa fa-newspaper-o"></i> Văn bản</a></li>
								<li><a showtab="" href="#listtinnhansms" data-toggle="tab"><i class="fa fa-mobile"></i> SMS</a></li>
								<li><a showtab="" href="#listemail"><i class="fa fa-envelope"></i> Email</a></li>
								<li><a showtab="" href="#listdienthoai"><i class="fa fa-phone"></i> Điện thoại</a></li>
								<li><a showtab="" href="#listlienhe"><i class="fa fa-book"></i> Thông tin liên hệ</a></li>
								<li><a showtab="" href="#listdiachi"><i class="fa fa-briefcase"></i> Địa chỉ</a></li>
								<li><a showtab="" href="#listurl"><i class="fa fa-link"></i> Website</a></li>
								<li><a showtab="" href="#listwifi"><i class="fa fa-wifi"></i> Wifi</a></li>
                                <li><a showtab="" href="#listproduct"><i class="fa fa-product"></i> Sản Phẩm</a></li>
								<li class="pull-right"><a class="text-muted"><i class="fa fa-gear"></i></a></li>
							</ul>
							<div class="tab-content">
								<div id="listvanban" class="tab-pane active">
									<div ng-include="'/app/qrcode/partials/qrContent.html'"></div>
								</div>
								<div id="listtinnhansms" class="tab-pane">
									<div ng-include="'/app/qrcode/partials/qrSMS.html'"></div>
								</div>
								<div id="listemail" class="tab-pane">
									<div ng-include="'/app/qrcode/partials/qrEmail.html'"></div>
								</div>
								<div id="listdienthoai" class="tab-pane">
									<div ng-include="'/app/qrcode/partials/qrPhone.html'"></div>
								</div>
								<div id="listlienhe" class="tab-pane">
									<div ng-include="'/app/qrcode/partials/qrContact.html'"></div>
								</div>
								<div id="listdiachi" class="tab-pane">
									<div ng-include="'/app/qrcode/partials/qrAddress.html'"></div>
								</div>
								<div id="listurl" class="tab-pane">
									<div ng-include="'/app/qrcode/partials/qrWebsite.html'"></div>
								</div>
								<div id="listwifi" class="tab-pane">
									<div ng-include="'/app/qrcode/partials/qrWifi.html'"></div>
								</div>
                                <div id="listproduct" class="tab-pane">
									<div ng-include="'/app/qrcode/partials/qrProduct.html'"></div>
								</div>
							</div>
						</div>
					</div>
					
					<div id="exportDialog" class="modal fade" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title">Xuất mã QR Code</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-4">
											<button class="btn btn-warning btn-block" ng-click='exportToExcel()'>Xuất ra Excel</button>
											<div class="alert alert-warning fade in">
												Xuất dữ liệu ra tập tin excel (.xlsx)
											</div>
										</div>
										<div class="col-md-4">
											<button class="btn btn-danger btn-block" ng-click='exportToWord()'>Xuất ra Word</button>
											<div class="alert alert-danger fade in">
												Xuất mã QR Code ra Word (.docx)
											</div>										
										</div>
										<div class="col-md-4">
											<button class="btn btn-primary btn-block" ng-click='exportToQRCode()'>Xuất ra QR Code</button>
											<div class="alert alert-info fade in">
												Xuất dữ liệu ra hình QR Code (.zip)
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div id="importDialog" class="modal fade" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title">Nhập mã QR Code</h4>
								</div>
								<div class="modal-body">									
									<div class="alert alert-info fade in">
										<div class="form-inline">
										<label>Chọn tập tin excel (.xlsx)</label>
										<div class="form-group">
											<input id="fileUpload" type="file"  accept=".xlsx" class="form-control" />
										</div>
									</div>
									</div>	
								</div>
								<div class="modal-footer">
									<button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
									<button type="button" class="btn btn-primary" ng-click="importQRCodeData()">Import</button>
								</div>
							</div>
						</div>
					</div>
					
                </div>
                
                <div class="loading-img" data-ng-show="qrCodeLoading"></div>
            </div>
        </section> 
    </aside>
</div>
