<header class="header" ng-include="'/app/home/partials/header.html'"></header>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas" ng-include="'/app/home/partials/menu.html'"></aside>
    <aside class="right-side">
       <section class="content-header">
            <h1>Quản lý mã QR Code</h1>
            <ol class="breadcrumb">
                <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">QR Code</li>
            </ol>
        </section>
        <section class="content">
        </section>
    </aside>
</div>
