<header class="header" ng-include="'/app/home/partials/header.html'"></header>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas" ng-include="'/app/home/partials/menu.html'"></aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>Đọc mã QR Code BHYT</h1>
            <ol class="breadcrumb">
                <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">QR Code BHYT</li>
            </ol>
        </section>
        <section class="content">
            <div class="alert alert-danger" ng-show="error.length > 0">
                {{ error }}
            </div>
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Đọc thẻ BHYT</h3>
                </div>
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="box box-solid box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">Thông tin thẻ BHYT</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Số thẻ: </label> {{result.bhytNumber}}
                                        </div>
                                        <div class="form-group">
                                            <label>Họ và tên: </label> {{result.fullName}}
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày sinh: </label> {{result.birthDay}}
                                        </div>
                                        <div class="form-group">
                                            <label>Giới tính: </label> {{result.gender}}
                                        </div>
                                        <div class="form-group">
                                            <label>Địa chỉ: </label> {{result.address}}
                                        </div>
                                        <div class="form-group">
                                            <label>Nơi đăng ký KCB BĐ: </label> {{result.cskcbbd}}
                                        </div>
                                        <div class="form-group">
                                            <label>Bắt đầu: </label> {{result.begin}}
                                        </div>
                                        <div class="form-group">
                                            <label>Kết thúc: </label> {{result.end}}
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày phát hành: </label> {{result.bhytCreated}}
                                        </div>
                                    </div>
                                    <div class="overlay" data-ng-show="loading"></div>
                                    <div class="loading-img" data-ng-show="loading"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box box-solid box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">Thẻ BHYT</h3>
                                    </div>
                                    <div class="box-body">
                                        <img ng-src="{{image}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="file" fileread="image" />
                    </div>

                    <div class="box-footer">                        
                        <button type="button" ng-click="decode()" class="btn btn-primary">Đọc thẻ BHYT</button>
                    </div>
                </form>
            </div>
        </section>
    </aside>
</div>
