<div class="form-box">
    <div class="header">Đổi mật khẩu</div>
    <form method="post">
        <div class="body bg-gray box custombox">
            <div data-ng-show="savedSuccessfully == true" class="alert alert-success">
                {{message}}
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.OldPassword" class="form-control" placeholder="Mật khẩu cũ" />
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.NewPassword" class="form-control" placeholder="Mật khẩu mới" />
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.Confirm" class="form-control" placeholder="Mật khẩu xác nhận" />
            </div>
            <div data-ng-show="errors.length > 0 && savedSuccessfully == false" class="alert alert-danger">
                <div ng-repeat="err in errors">
                    <div>{{ err }}</div>
                </div>
            </div>
            <div class="overlay" data-ng-show="loading"></div>
            <div class="loading-img" data-ng-show="loading"></div>
        </div>
        <div class="footer">
            <button type="button" ng-click="changePassword(user)" class="btn bg-info btn-block">
                <i class="fa fa-envelope"></i> Đổi mật khẩu
            </button>
            <a href="/#/home" class="btn bg-info btn-block text-center">
                <i class="fa fa-reply-all"></i> Trở về trang chủ
            </a>
        </div>
    </form>
</div>
