<div id="changePasswordDialog" class="modal fade" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Đổi mật khẩu</h4>
			</div>
			<div class="modal-body">
				<form>
					<div data-ng-show="savedSuccessfully == true" class="alert alert-success">
						{{message}}
					</div>
					<div class="form-group">
						<label>Mật khẩu cũ</label>
						<input type="password" ng-model="userInfo.OldPassword" class="form-control" placeholder="Mật khẩu cũ" />
					</div>
					<div class="form-group">
						<label>Mật khẩu mới</label>
						<input type="password" ng-model="userInfo.NewPassword" class="form-control" placeholder="Mật khẩu mới" />
					</div>
					<div class="form-group">
						<label>Mật khẩu xác nhận</label>
						<input type="password" ng-model="userInfo.ConfirmPassword" class="form-control" placeholder="Mật khẩu xác nhận" />
					</div>
					<div data-ng-show="errors.length > 0 && savedSuccessfully == false" class="alert alert-danger">
						<div ng-repeat="err in errors">
							<div>{{ err }}</div>
						</div>
					</div>
					<div class="overlay" data-ng-show="loading"></div>
					<div class="loading-img" data-ng-show="loading"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="changePasswordCancel()">
					<i class="fa fa-reply-all"></i> Hủy bỏ
				</button>
				<button type="button" ng-click="changePassword()" class="btn btn-primary">
					<i class="fa fa-envelope"></i> Đổi mật khẩu
				</button>
			</div>
		</div>
	</div>
</div>
