<div class="form-box">
    <div class="header">Lấy lại mật khẩu</div>
    <form method="post">
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tên đăng nhập"/>
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-info btn-block">
                <i class="fa fa-envelope"></i> Lấy lại mật khẩu
            </button>
            <a href="/#/home" class="btn bg-info btn-block text-center">
                <i class="fa fa-reply-all"></i> Trở về trang chủ
            </a>
        </div>
    </form>
</div>