<header class="header" ng-include="'/app/home/partials/header.html'">
    
</header>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas" ng-include="'/app/home/partials/menu.html'"></aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>Dashboard</h1>
            <ol class="breadcrumb">
                <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-solid bg-green">
                <div class="box-header">
                    <h3 class="box-title">Phần mềm việt dành máy tính</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Album Downloader</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-music-note"></i>
                                </div>
                                <a class="small-box-footer">
                                    Album Downloader <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-maroon">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Web Automation</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios-videocam-outline"></i>
                                </div>
                                <a class="small-box-footer">
                                    Web Automation <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Excel converter</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios-reverse-camera-outline"></i>
                                </div>
                                <a class="small-box-footer">
                                    Excel converter <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-fuchsia">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Email Marketing</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios-email-outline"></i>
                                </div>
                                <a class="small-box-footer">
                                    Lấy email từ website <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Woim Downloader</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-headphone"></i>
                                </div>
                                <a class="small-box-footer">
                                    Woim Downloader <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-purple">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Tạo và giải mã QR Code</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-qr-scanner"></i>
                                </div>
                                <a class="small-box-footer">
                                    Tạo và giải mã QR Code <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-solid bg-olive">
                <div class="box-header">
                    <h3 class="box-title">Phần mềm việt dành cho điện thoại Android</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-teal">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Tạo và giải mã QR code</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-qr-scanner"></i>
                                </div>
                                <a class="small-box-footer">
                                    Tạo và giải mã QR code <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-maroon">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Đọc mã QR Code thẻ BHYT</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-social-instagram"></i>
                                </div>
                                <a class="small-box-footer">
                                    Đọc mã QR Code thẻ BHYT <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-solid bg-aqua">
                <div class="box-header">
                    <h3 class="box-title">Tiện ích</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-olive">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>QR Code</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-qr-scanner"></i>
                                </div>
                                <a href="/#/qrCode" class="small-box-footer">
                                    Tạo mã QR Code <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-purple">
                                <div class="inner">
                                    <h3>0</h3>
                                    <p>Lấy email từ website</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios-at-outline"></i>
                                </div>
                                <a class="small-box-footer">
                                    Email Marketing <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>      
    </aside>
</div>
