<section class="sidebar">
    <ul class="sidebar-menu">
        <li ng-class="{ active: isActive('/')}">
            <a href="/#/">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
        </li>
        <!--<li ng-class="{ active: isActive('/qrCode')}">
            <a href="/#/qrCode">
                <i class="fa fa-qrcode"></i> <span>QR Code</span>
            </a>
        </li>
		<li ng-class="{ active: isActive('/emailMarketing')}">
            <a href="/#/emailMarketing">
                <i class="fa fa-envelope"></i> <span>Email Marketing</span>
            </a>
        </li>-->
        <li ng-class="{ active: isActive('/qrCodeBHYT')}">
            <a href="/#/qrCodeBHYT">
                <i class="fa fa-barcode"></i> <span>QR Code BHYT</span>
            </a>
        </li>
		<li ng-class="{ active: isActive('/ocr')}">
            <a href="/#/ocr">
                <i class="fa fa-file-text-o"></i> <span>Nhận dạng chữ Việt</span>
            </a>
        </li>
    </ul>
</section>