<div id="registerDialog" class="modal fade" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Đăng Ký</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-info" role="alert">
				  Mật khẩu của bạn sẽ được mã hóa trước khi lưu trữ, chúng tôi đảm bảo thông tin đăng ký sẽ không được sử dụng hoặc chia sẽ cho bất kỳ bên nào nếu chưa được sự đồng ý của bạn.<br/>
				  Mật khẩu phải có ít nhất 6 ký tự. Mật khẩu phải có ít nhất một ký tự không phải chữ cái hoặc chữ số. Mật khẩu phải có ít nhất một chữ thường ('a' - 'z'). Mật khẩu phải có ít nhất một chữ hoa ('A' - 'Z'). Mật khẩu phải có ít nhất một số (0 - 9)
				</div>
				<form novalidate>
					<div>
						<div data-ng-show="savedSuccessfully == true" class="alert alert-success">
							{{message}}
						</div>

						<div class="form-group">
							<label>Địa chỉ email</label>
							<input type="text" ng-model="userRegister.Email" class="form-control" placeholder="Địa chỉ email" />
						</div>            
						<div class="form-group">
							<label>Điện thoại</label>
							<input type="text" ng-model="userRegister.PhoneNumber" class="form-control" placeholder="Điện thoại" />
						</div>
						<div class="form-group">
							<label>Mật khẩu</label>
							<input type="password" ng-model="userRegister.Password" class="form-control" placeholder="Mật khẩu" />
						</div>
						<div class="form-group">
							<label>Xác nhận mật khẩu</label>
							<input type="password" ng-model="userRegister.ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu" />
						</div>
						<div data-ng-show="errors.length > 0 && savedSuccessfully == false" class="alert alert-danger">
							<div ng-repeat="err in errors">
								<div>{{ err }}</div>
							</div>
						</div>
						<div class="overlay" data-ng-show="registerLoading"></div>
						<div class="loading-img" data-ng-show="registerLoading"></div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button ng-click="registerCancel()" class="btn btn-warning">
					<i class="fa fa-reply-all"></i> Hủy bỏ
				</button>
				<button class="btn btn-primary" ng-disabled="registerLoading == true" ng-click="register()">
					<i class="fa fa-unlock"></i> Đăng ký
				</button>
			</div>
		</div>
	</div>
</div>