<header class="header" ng-include="'/app/home/partials/header.html'"></header>

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas" ng-include="'/app/home/partials/menu.html'"></aside>
    <aside class="right-side">
        <section class="content-header">
            <h1>Nhận dạng chữ Việt từ hình ảnh</h1>
            <ol class="breadcrumb">
                <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Nhận dạng chữ Việt</li>
            </ol>
        </section>
        <section class="content">
            <div class="alert alert-danger" ng-show="error.length > 0">
                {{ error }}
            </div>
            <div class="box box-primary">
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="box box-solid box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">Kết quả nhận dạng</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <textarea class="form-control" ng-model="ocrResult" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <div class="overlay" data-ng-show="loading"></div>
                                    <div class="loading-img" data-ng-show="loading"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box box-solid box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title">Ảnh cần nhận dạng</h3>
                                    </div>
                                    <div class="box-body">
                                        <img ng-src="{{image}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" ng-disabled="loading" ng-click="decode()" class="btn btn-primary">Nhận dạng</button>
                            </div>
                            <div class="col-md-4">
                                <label class="pull-right">Chọn ảnh: </label>
                            </div>
                            <div class="col-md-4">
                                <input type="file" fileread="image" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </aside>
</div>
